
#navbar_ul{
    width: 90vw;
    height: 7vh;
    position: fixed;
    left: 5vw;
    bottom: 1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-surface);
    border-radius: 2vh;
    z-index: 999;
    color: var(--color-text);
    box-shadow: var(--shadow-lg);
}

#navbar_ul li {
    width: 19.8%;
    height: 90%;
    border-radius: 2vh;
    padding: 0;
    margin: 0;
}

#navbar_ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#navbar_ul li a:hover{
    color: var(--color-text-light);
}

.selected{
    background-color: var(--color-primary-light);
}