#pdp{
    position: absolute;
    top: 1vW;
    left: 1vW;
}

#pdp_img{
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    position: relative;
    object-fit: cover;      /* ecrase pas l'image */
    object-position: center;
}

#pdp_menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: var(--color-primary-dark);
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0);
    transform-origin: top left;
    opacity: 0;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

#pdp:hover #pdp_menu{
    width: 25vw;
    height: 7vh;

    transform: scale(1);
    opacity: 1;
}

.btn_log{
    display: flex;
    gap: 2vw;
}

.button{
    text-align: center;
    align-content: center;
    color: white;
    background-color: var(--color-blue);
    border-radius: 10px;
    transition: 0.2s;
    font-size: 1.5rem;
    padding: 0.5vw 1vw;
}

.button:hover{
    background-color: var(--color-accent);
}